variables:
  https_proxy: ${CODE_PROXY}
  http_proxy: ${CODE_PROXY}
  no_proxy: api.siemens.com,cr.siemens.com,code.siemens.com,devops.bt.siemens.com
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_REF_SLUG}"

stages:
  - test
  - build
  - release

unit testing:
  stage: test
  image: golang:1.19
  script:
    - mkdir test && pushd test
    - openssl genrsa -out private1024.pem 1024 && openssl rsa -in private1024.pem -pubout -out public1024.pem
    - openssl genrsa -out private2048.pem 2048 && openssl rsa -in private2048.pem -pubout -out public2048.pem
    - openssl genrsa -out private.pem 4096 && openssl rsa -in private.pem -pubout -out public.pem
    - popd
    - go mod tidy
    - go test ./... -coverprofile=coverage.txt -covermode count
    - go get github.com/boumenot/gocover-cobertura
    - go run github.com/boumenot/gocover-cobertura < coverage.txt > coverage.xml
  coverage: '/coverage: \d+.\d+% of statements/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

analyze:sonar:
  stage: test
  needs: ["unit testing"]
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner

SBOM creation:
  stage: test
  image: golang:1.19
  variables:
    SBOM_FILE: ${CI_PROJECT_NAME}-sbom.json
  script:
    - go install github.com/CycloneDX/cyclonedx-gomod/cmd/cyclonedx-gomod@latest
    - cyclonedx-gomod app -json=true -licenses=true -output ${SBOM_FILE}
  artifacts:
    reports:
      cyclonedx:
        - ${SBOM_FILE}

gitleaks check:
  stage: test
  image:
    name: zricethezav/gitleaks:latest
    entrypoint: [""]
  variables:
    GITLEAKS_CONFIG: .gitleaks.toml
    GITLEAKS_REPORT: gitleaks_report.json
  script: gitleaks detect --source="." --config=${GITLEAKS_CONFIG} --report-path=${GITLEAKS_REPORT} --verbose
  artifacts:
    reports:
      secret_detection:
        - ${GITLEAKS_REPORT}

repolinter check:
  stage: test
  image: node:alpine3.17
  script:
    - npm install -g repolinter
    - apk update && apk add --no-cache alpine-sdk ruby-dev cmake icu-dev zlib-dev openssl-dev
    - gem install github-linguist
    - gem install licensee
    - repolinter lint .

build binary:
  stage: build
  image: golang:1.19
  script:
    - mkdir release
    - go mod tidy
    - go build -o release/${CI_PROJECT_NAME} .
  artifacts:
    paths:
      - release

create generic package:
  stage: release
  image: alpine:latest
  script:
    - apk add --no-cache curl
    - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file release/${CI_PROJECT_NAME} ${PACKAGE_REGISTRY_URL}/${CI_PROJECT_NAME}'

create docker image:
  stage: release
  variables:
    IMAGE_TAG: "latest"
  rules:
    - if: $CI_COMMIT_TAG
      variables:
        IMAGE_TAG: $CI_COMMIT_TAG
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR 
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination ${CI_REGISTRY_IMAGE}:${IMAGE_TAG}
      --build-arg http_proxy=${CODE_PROXY}
      --build-arg https_proxy=${CODE_PROXY}
